body {
  max-width: 1200px;
  min-width: 400px;
  margin: 0 auto;
  background-image: url("../img/main_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  width: 80%;
  margin: 0 auto;
}

span {
  color: #0e740e;
}

.navi {
  width: 80%;
  display: flex;
  padding: 2% 10%;
  flex-wrap: wrap;
}
.navi .title {
  width: 45%;
  padding: 0;
  line-height: 40px;
  margin: auto;
  font-weight: bold;
}
.navi .menuWrapper {
  width: 55%;
  min-width: 350px;
  margin: 0 auto;
}
.navi .menuWrapper .menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.navi .menuWrapper .menu ul {
  list-style: none;
  line-height: 40px;
  margin-left: 0;
}
.navi .menuWrapper .menu li {
  display: block;
  float: left;
  margin: 0 3%;
}

.hidden {
  display: none;
}

.home {
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
}
.home__heading {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #17b917;
  background-image: url("../img/multi-purpose-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home__heading .photoWrapper {
  margin: 3% 0;
  height: 37.3%;
  width: 26%;
  min-height: 180px;
  min-width: 180px;
}
.home__heading .photoWrapper .photo {
  width: 100%;
  height: 100%;
}
.home__heading .photoWrapper .photo:hover {
  transform: translate(0, -10px);
  transition: all 1s;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.432);
}
.home__heading .intro {
  width: 35%;
  padding-right: 3%;
  color: white;
  text-align: center;
  min-width: 210px;
}
.home__heading .intro__name {
  margin-top: 20%;
  margin-bottom: 0;
  font-weight: bolder;
  font-size: xx-large;
}
.home__heading .intro__occupation {
  font-weight: bold;
}
.home__heading .intro__media {
  display: flex;
  justify-content: center;
}
.home__heading .intro__media a {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.home__heading .intro__media .fa-facebook-square:hover {
  transform: scale(1.5);
}
.home__heading .intro__media .fa-twitter-square:hover {
  transform: scale(1.5);
}
.home__heading .intro__media .fa-instagram-square:hover {
  transform: scale(1.5);
}
.home__content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.home__content__aboutMe {
  max-width: 45%;
  min-width: 210px;
  padding-left: 5%;
}
.home__content__aboutMe .aboutMe__title {
  font-size: large;
  font-weight: bold;
}
.home__content__aboutMe .aboutMe__text {
  font-size: small;
}
.home__content__detail {
  width: 50%;
  min-width: 210px;
}
.home__content__detail ul {
  list-style: none;
  margin: 0;
  padding: 5%;
}
.home__content__detail ul li {
  display: flex;
  line-height: 5%;
}
.home__content__detail ul li .personalInfo__key {
  font-size: small;
  width: 50%;
  margin-right: 5%;
}
.home__content__detail ul li .personalInfo__value {
  width: 100%;
  font-size: small;
  color: gray;
}

.resume {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.15);
}
.resume__contentWrapper {
  display: flex;
  flex-wrap: wrap;
}
.resume .education {
  padding-left: 5%;
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto;
}
.resume .education__contentWrapper {
  border-left: gray solid 3px;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.resume .education__contentWrapper .education__block {
  border-left: green solid 3px;
  margin: 8%;
  padding-left: 8%;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.15);
}
.resume .experience {
  padding-left: 5%;
  min-width: 300px;
  max-width: 400px;
  margin: 0 auto;
}
.resume .experience__contentWrapper {
  border-left: gray solid 3px;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.resume .experience__contentWrapper .experience__block {
  border-left: green solid 3px;
  margin: 8%;
  padding-left: 8%;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.15);
}
.resume__skills {
  display: flex;
  padding: 3% 0 2% 5%;
  flex-wrap: wrap;
}
.resume__skills .skillWrapper {
  width: 50%;
  min-width: 330px;
  padding: 2% 0;
  margin: 0 auto;
}
.resume__skills .skillBlock {
  display: block;
  padding: 4% 0;
  /* .skill__container {
          border: 1px solid rgba(0, 0, 0, 0.2);
          height: 10px;
          width: 95.5%;
          background-color: rgba(0, 0, 0, 0.03);
          margin-top: 5px;
        }
        .skill__filler {
          height: 100%;
          background-color: rgb(14, 116, 14);
          width: 50%;

        }
  */
}
.resume__skills .skillBlock .skill__name {
  font-size: small;
  position: relative;
}
.resume__skills .skillBlock .skill__name::after {
  content: "";
  position: absolute;
  top: 1.7em;
  left: 0;
  width: 90%;
  height: 90%;
  border: 1px solid mediumspringgreen;
  border-radius: 0.2em;
  background-image: linear-gradient(to right, mediumspringgreen, mediumspringgreen);
  background-repeat: no-repeat;
  background-position: top 1px left 1px;
}
.resume__skills .skillBlock .skill__web::after {
  background-size: 85% 1em;
}
.resume__skills .skillBlock .skill__graphic::after {
  background-size: 75% 1em;
}
.resume__skills .skillBlock .skill__print::after {
  background-size: 65% 1em;
}
.resume__skills .skillBlock .skill__html5::after {
  background-size: 95% 1em;
}
.resume__skills .skillBlock .skill__css3::after {
  background-size: 70% 1em;
}
.resume__skills .skillBlock .skill__jquery::after {
  background-size: 90% 1em;
}

.services {
  border-radius: 5px;
  overflow: hidden;
}
.services .page__contentWrapper {
  padding: 2% 4%;
}
.services .myServices__title {
  font-weight: bolder;
}
.services .myServices__contentWrapper {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-wrap: wrap;
}
.services .myServices__block {
  width: 20%;
  min-width: 200px;
  padding: 1%;
}
.services .myServices__block .block__icon {
  background-color: grey;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8%;
}
.services .myServices__block .block__icon img {
  height: 64px;
  width: 64px;
}
.services .myServices__block .block__icon img:hover {
  transform: scale(1.5);
}
.services .myServices__block .block__title {
  font-weight: bold;
  margin-bottom: 8%;
}
.services .clients__logoWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services .clients__logoWrapper .clients__logo {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}
.services .clients__logoWrapper .clients__logo img {
  width: 100px;
  height: 100px;
}
.services .clients__logoWrapper .clients__logo:hover {
  opacity: 1;
}

.blog {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.15);
}
.blog .page__contentWrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.blog .page__contentWrapper .blog__block {
  max-width: 360px;
  text-align: center;
  margin: 2% 0;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.15);
  position: relative;
}
.blog .page__contentWrapper .blog__block img {
  width: 100%;
  height: 100%;
}
.blog .page__contentWrapper .blog__block__tag {
  position: absolute;
  top: 2%;
  right: 2%;
  border: white solid 1px;
  background-color: white;
  color: yellowgreen;
  width: 30px;
  font-weight: bold;
  font-size: small;
}
.blog .page__contentWrapper .blog__block__type {
  color: grey;
  font-size: small;
  margin: 1% auto;
}
.blog .page__contentWrapper .blog__block__title {
  color: black;
  font-weight: bold;
  margin-bottom: 5%;
}

.contact {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.15);
}
.contact .page__contentWrapper {
  display: flex;
  justify-content: space-evenly;
}

.page__heading {
  background-color: #0e740e;
  background-image: url("../img/multi-purpose-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page__title {
  margin: 0;
  padding: 3% 0;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
  color: white;
}

.subTitle {
  font-weight: bold;
  font-size: large;
}

/*# sourceMappingURL=style.css.map */
